html, body {
    margin: 0;
    height: 100%;
    overflow: hidden}


h1 {
    color: #FFFF25;
    font-size: 25px;
    text-align: center;
}

a {
    color: #FF69B4;
    font-size: 50px;
    text-align: center;
    cursor: pointer;
    margin:20px auto;
    display:block;
}

.secret {
    color: #000000;
    font-size: 100px;
    text-align: center;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

body {
    background-color: #000000;

}